* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(3, 0, 54, 1) 84%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    color: #e8e8e8;
    font-weight: 800;
}